<form action="/register" method="post">
    <div>
        <legend> Registration </legend>
        <% } %>
        firstname: <input type="text" name="firstname" value="Anthony"><br><br>
        lastname: <input type="text" name="lastname" value="Badila"><br><br>
        email: <input type="email" name="email" value="sonnblom03@gmai.com"><br><br>
        username: <input type="text" name="username" value="Sonnblom"><br><br>
        password: <input type="password" name="password" value="secretpassword"><br><br>
        <% } %>
    </div>
    <input type="submit" value="register"/><br><br>
</form>